.App {
  text-align: center;
}

.App-profile {
  height: 75%;
  border-radius: 50%;
  animation-name: Profile-shrink;
  animation-duration: 1s;
  margin: 10px
}

.App-photo {
  height: 10px;
  border-radius: 50%;
  margin: 10px
}

.App-profile:hover {
  height: 100%;
  border-radius: 0%;
  animation-name: Profile-expand;
  animation-duration: 0.5s;
}

.App-container {
  background-color: #cceeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Fixed-header {
  width: 100%;
  position: fixed;
  background-color: #66ccff;
  opacity: 0.9;
}

.List {
  height: 30vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-button {
  width: 15vmin;
  height: 8vmin;
  border-radius: 10%;
  /* background-color: #0077ff; */
  background-color: salmon;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: 2.5vmin;
  animation-name: Button-hover-off;
  animation-duration: 1s;
}

.App-button:hover {
  background-color: white;
  /* color: #0077ff; */
  color: salmon;
  animation-name: Button-hover-on;
  animation-duration: 0.5s;
}

.Title {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
}

/* .Title:hover {
  text-decoration: underline;
  animation-name: Title-hover-on;
  animation-duration: 0.5s;
} */

.Subtitle {
  font-size: 20px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: 1px;
}

.Heading {
  font-size: 20px;
  font-weight: bold;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: 1px;
  text-align: left;
}

.Paragraph {
  font-size: 18px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-align: left;
}

@keyframes Profile-expand {
  from {
    height: 75%;
    border-radius: 50%;
  }
  to {
    height: 100%;
    border-radius: 0%;
  }
}

@keyframes Profile-shrink {
  from {
    height: 100%;
    border-radius: 0%;
  }
  to {
    height: 75%;
    border-radius: 50%;
  }
}

@keyframes Button-hover-on {
  from {
    /* background-color: #0077ff; */
    background-color: salmon;
    color: white;
  }
  to {
    background-color: white;
    /* color: #0077ff; */
    color: salmon;
  }
}

@keyframes Button-hover-off {
  from {
    background-color: white;
    /* color: #0077ff; */
    color: salmon;
  }
  to {
    /* background-color: #0077ff; */
    background-color: salmon;
    color: white;
  }
}

@keyframes Title-hover-on {
  from {
    text-decoration: none;
  }
  to {
    text-decoration: underline;
  }
}

.PortfolioContainer {
  width: 80%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: blue;
  justify-self: center;
}

.PortfolioItem {
  grid-area: 1 / 1 / span 1 / span 1;
}

.paragraph {
  font-size: 15px;
  color: black;
}

a {
  color: gray;
}
