.App {
  text-align: center;
  min-height: 100vh;
}

.App-profile {
  height: 20vmin;
  width: 20vmin;
  border-radius: 50%;
  animation-name: Profile-shrink;
  animation-duration: 1s;
}

.App-profile:hover {
  height: 30vmin;
  width: 30vmin;
  border-radius: 0%;
  animation-name: Profile-expand;
  animation-duration: 0.5s;
}

.App-header {
  min-height: 100vh;
  background-image: url('./assets/mountains_and_seas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.List {
  height: 30vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-button {
  width: 15vmin;
  height: 8vmin;
  border-radius: 10%;
  background-color: #0077ff;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: 2.5vmin;
  animation-name: Button-hover-off;
  animation-duration: 1s;
}

.App-button:hover {
  background-color: white;
  color: #0077ff;
  animation-name: Button-hover-on;
  animation-duration: 0.5s;
}

.Title {
  font-size: 100%;
  font-family: fantasy;
}

.Title:hover {
  text-decoration: underline;
  animation-name: Title-hover-on;
  animation-duration: 0.5s;
}

.Subtitle {
  font-size: 50%;
  font-family: sans-serif;
  letter-spacing: 1px;
}

@keyframes Profile-expand {
  from {
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
  }
  to {
    height: 30vmin;
    width: 30vmin;
    border-radius: 0%;
  }
}

@keyframes Profile-shrink {
  from {
    height: 30vmin;
    width: 30vmin;
    border-radius: 0%;
  }
  to {
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
  }
}

@keyframes Button-hover-on {
  from {
    background-color: #0077ff;
    color: white;
  }
  to {
    background-color: white;
    color: #0077ff;
  }
}

@keyframes Button-hover-off {
  from {
    background-color: white;
    color: #0077ff;
  }
  to {
    background-color: #0077ff;
    color: white;
  }
}

@keyframes Title-hover-on {
  from {
    text-decoration: none;
  }
  to {
    text-decoration: underline;
  }
}
